<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <title>COSMOSENDER &bull; Home</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }      
   </style>
</head>
<body>
   <nav class="navbar navbar-expand fixed-top bg-body">
      <div class="container-fluid container-content column-gap-3">
         <button class="navbar-toggler p-0 rounded-0 border-0 shadow-none d-block d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
            <i class="navbar-toggler-icon"></i>
         </button>
         <h1 class="fs-reset m-0 lh-base d-lg-none">
            <img src="../../assets/img/icon-indraco.png" width="40" height="auto" alt="">
         </h1>
         <div class="navbar-collapse">
            <div class="d-none d-lg-block small">
               <script src="layout/menu-header.js"></script>
            </div>
            <ul class="nav ms-auto column-gap-3 text-capitalize">
               <li class="nav-item">
                  <a href="#" class="nav-link px-0 text-reset media">
                     <div class="media-header">
                        <span class="link-icon">
                           <i class="fas fa-search fa-lg"></i>
                        </span>
                     </div>
                     <div class="media-body d-none d-md-block">
                        <span class="link-text link-hover">
                           search
                        </span>
                     </div>
                  </a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link px-0 text-reset media">
                     <div class="media-header">
                        <span class="link-icon">
                           <i class="fas fa-search fa-lg"></i>
                        </span>
                     </div>
                     <div class="media-body d-none d-md-block">
                        <span class="link-text link-hover">
                           bilingual
                        </span>
                     </div>
                  </a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link px-0 text-reset media">
                     <div class="media-header">
                        <span class="link-icon">
                           <i class="fas fa-sun fa-lg"></i>
                        </span>
                     </div>
                     <div class="media-body d-none d-md-block">
                        <span class="link-text link-hover">
                           dark theme
                        </span>
                     </div>
                  </a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link px-0 text-reset media">
                     <div class="media-header">
                        <span class="link-icon">
                           <i class="fas fa-user fa-lg"></i>
                        </span>
                     </div>
                     <div class="media-body d-none d-md-block">
                        <span class="link-text link-hover">
                           account
                        </span>
                     </div>
                  </a>
               </li>
            </ul>
         </div>
      </div><!-- end container -->
   </nav><!-- end navbar -->
   <script src="layout/sidebar.js"></script>
   <header class="banner mb-5">
      <div class="container-fluid container-content">
         <div class="ratio ratio-21x9 text-bg-dark"></div>
      </div><!-- end container -->
   </header><!-- end banner -->
   <main class="page">
      <section>
         <div class="container-fluid container-content">
            <p>
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda qui, corrupti veritatis ipsa natus velit non cum labore nihil libero illo culpa commodi consectetur maiores tenetur est magni, earum ut?
            </p>
         </div><!-- end container -->
      </section>
      <section class="vh-100"></section>
   </main><!-- end page -->
   <script src="layout/footbar.js"></script>
   <script src="js/global.js"></script>
</body>
</html>