<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <title>COSMOSENDER &bull; Home</title>
   <link rel="stylesheet" href="css/landing.css"> 
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <script src="layout/navbar.js"></script>
   <script src="layout/sidebar.js"></script>
   <header class="banner">
      <div class="container-fluid container-content">
         <div class="ratio text-bg-dark"></div>
      </div><!-- end container -->
   </header><!-- end banner -->
   <main class="page">
      <section>
         <div class="container-fluid container-content">
            <div class="row row-cols-1 row-cols-md-2 g-3 pt-3">
               <div class="col">
                  <div class="ratio ratio-4x3 text-bg-dark"></div>
               </div><!-- end col -->
               <div class="col">
                  <div class="ratio ratio-4x3 text-bg-dark"></div>
               </div><!-- end col -->
               <div class="col">
                  <div class="ratio ratio-4x3 text-bg-dark"></div>
               </div><!-- end col -->
               <div class="col">
                  <div class="ratio ratio-4x3 text-bg-dark"></div>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <!-- <section class="vh-100"></section> -->
   </main><!-- end page -->
   <script src="layout/footbar.js"></script>
   <script src="js/global.js"></script>
</body>
</html>